body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  background: center / cover no-repeat url('satoru.jpg');
  backdrop-filter: blur(5px) brightness(0.5);
  height: 100vh;
  display: flex;
  align-items: center;
}

aside {
  width: 50vw;
  display: flex;
  justify-content: center;
}

article {
  width: 50vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

form {
  background: #fff;
  width: 20vw;
  max-width: 500px;
  padding: 1.5rem;
  border-radius: .5rem 3rem;
}

form div {
  display: flex;
  flex-direction: column;
  margin-top: .75rem;
}

#button {
  flex-direction: row;
  justify-content: end;
}

h1 {
  font-size: 1.5em;
}

input {
  background: #00000040;
  border: none;
  border-top: 1px solid #000;
}

input:focus {
  outline: none;
}

small {
  font-size: .8em;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: .1s;
}

button:active {
  transform: scale(.95);
}

#button button {
  padding: .75em 1em;
  margin-inline-start: .5rem;
  border: 1px solid #000;
  border-radius: .5rem;
}

/* off */
img {
  display: none;
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
}

::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
  display: none;
}

::selection {
  background: #00000040;
}
