:root {
  --ligth: #9156f8;
  --side: #5B05EF;
  --main: #340388;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* box-sizing: border-box; */
  perspective: 1000;
  backface-visibility: hidden;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  background: center / cover no-repeat url('satoru.jpg');
  backdrop-filter: blur(5px) brightness(0.5);
  height: 100vh;
  display: flex;
  align-items: center;
}

aside {
  width: 50vw;
  display: flex;
  justify-content: center;
}

article {
  width: 50vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

form {
  color: #000;
  background: #fff;
  box-shadow: 0 0 10px var(--side);
  width: 20vw;
  max-width: 500px;
  padding: 1.5rem;
  border-radius: .5rem 3rem;
  transition: width .25s;
}

form div {
  display: flex;
  flex-direction: column;
  margin-top: .75rem;
}

#button {
  flex-direction: row;
  justify-content: end;
}

h1 {
  font-size: 1.75em;
  line-height: 1.15em;
  margin-bottom: .5rem;
}

h2 {
  font-size: 1.5em;
}

a {
  color: var(--ligth);
  text-decoration: none;
}

a:hover,
.info a:hover {
  color: var(--side);
}

input {
  background: hsla(262, 96%, 27%, 0.15);
  border: none;
  border-top: 1px solid var(--main);
}

input:focus {
  outline: none;
}

small {
  font-size: .8em;
  text-shadow: none;
}

button {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  background: var(--ligth);
  padding: .75em 1em;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  transition: .1s;
}

button:hover {
  filter: brightness(.9);
}

button:active {
  transform: scale(.95);
}

#button button {
  margin-inline-start: .5rem;
}

main {
  color: #fff;
  background: hsla(0, 0%, 0%, .75);
  box-shadow: 0 0 10px var(--side);
  border-left: 5px solid var(--side);
  border-radius: 0 1rem 1rem 0;
  width: 500px;
  margin: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

img {
  user-select: none;
}

img.cover {
  height: 12rem;
}

img.fav {
  height: 3.5rem;
  position: absolute;
  top: -1rem;
  left: -1rem;
  transition: .1s;
}

img.star {
  height: 2rem;
  transition: .1s;
  filter: saturate(0);
}

img.fav[data-value="0"] {
  filter: saturate(0) brightness(1.5);
}

img.star.color {
  filter: none;
}

img.fav:hover,
img.star:hover {
  cursor: pointer;
  transform: scale(1.2);
}

img.fav:active,
img.star:active {
  transform: scale(1);
}

section.container {
  margin: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
}

section.user {
  margin-top: .5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

section.info a {
  color: #fff;
  transition: .1s;
}

button.status {
  width: 100px;
}

button.status[data-value="0"] {
  background: hsl(225, 100%, 75%);
}

button.status[data-value="1"] {
  background: hsl(250, 100%, 50%);
}

button.status[data-value="2"] {
  background: hsl(275, 100%, 25%);
}

button.clear {
  font-size: 1rem;
  background: hsl(0, 50%, 50%);
  position: fixed;
  bottom: .5rem;
  right: 1rem;
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main);
  border-radius: 1rem;
}

::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
  display: none;
}

::selection {
  background: hsla(0, 0%, 0%, 0.25);
}
